<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GMod_Server_Launcher_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CityRP_Server_Launcher_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <GMod_Server_Launcher_Console.Properties.Settings>
      <setting name="Console" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Lan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Map" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxPlayers" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="Gamemode" serializeAs="String">
        <value />
      </setting>
      <setting name="FileName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="TokenEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TokenPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CollectionID" serializeAs="String">
        <value />
      </setting>
      <setting name="FilePath" serializeAs="String">
        <value />
      </setting>
    </GMod_Server_Launcher_Console.Properties.Settings>
  </userSettings>
</configuration>