<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Universal_Srcds_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <userSettings>
    <Universal_Srcds_Launcher.Properties.Settings>
        <setting name="Console" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="Lan" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="Map" serializeAs="String">
            <value />
        </setting>
        <setting name="MaxPlayers" serializeAs="String">
            <value>24</value>
        </setting>
        <setting name="Gamemode" serializeAs="String">
            <value />
        </setting>
        <setting name="ExeName" serializeAs="String">
            <value />
        </setting>
        <setting name="Password" serializeAs="String">
            <value />
        </setting>
        <setting name="TokenEnabled" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="TokenPath" serializeAs="String">
            <value />
        </setting>
        <setting name="CollectionID" serializeAs="String">
            <value />
        </setting>
        <setting name="ExePath" serializeAs="String">
            <value />
        </setting>
        <setting name="LaunchParams" serializeAs="String">
            <value />
        </setting>
        <setting name="GamePath" serializeAs="String">
            <value />
        </setting>
    </Universal_Srcds_Launcher.Properties.Settings>
  </userSettings>
</configuration>
